In [1]:
#Importing Dependencies
from splinter import Browser
from bs4 import BeautifulSoup

In [3]:
#Declaring variables


#1.0) URL to fetch the Latest News Title and Paragraph Text
mars_news = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

#2.0) URL to fetch the MARS image
mars_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"

#3.0) URL to get twitter details
twitter_details = "https://twitter.com/marswxreport?lang=en"

#4.0) URL to get MARS facts
mars_facts = "https://space-facts.com/mars/"

In [4]:
# Function to call the chrome driver
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "C:/chromedriver_win32/chromedriver.exe"}
    return Browser("chrome", **executable_path, headless=False)

In [5]:
#Initializing the browswer
browser = init_browser()

<b> MARS News Title and Paragraph </b>

In [6]:
#Scraping the URL
browser.visit(mars_news)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

#Finding the latest News Title Header
newsTitleHeader = soup.find('div', attrs={'class':'content_title'})
newsParaText = soup.find('div', attrs={'class':'article_teaser_body'})
print(newsParaText)

#Grabbing the news title
for a in newsTitleHeader.find_all('a'):
    newsTitle = a.text #for getting text between the link

#Storing the news Para Text
newsParaText = newsParaText.text

None

AttributeError: 'NoneType' object has no attribute 'text'

In [34]:
counter = 0
browser.visit(mars_news)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
newsDetails = soup.findAll('ul', attrs={'class': 'item_list'})
for articlesList in newsDetails:
    for indArticle in articlesList:
        if counter == 0:
            news_date = indArticle.find('div', attrs={'class': 'list_date'}).text
            news_title = indArticle.find('div', attrs={'class': 'content_title'}).text
            news_p = indArticle.find('div', attrs={'class': 'article_teaser_body'}).text
            counter = counter + 1

September  6, 2018
Curiosity Surveys a Mystery Under Dusty Skies
NASA's Curiosity rover surveyed its surroundings on Mars, producing a 360-degree panorama of its current location on Vera Rubin Ridge.
----

In [15]:
newsParaText

In [19]:
# ----- SUPPORTING CODES ------
#for a in price_box.find_all('a'):
#    print(a.get('href')) #for getting link
#    print(a.text) #for getting text between the link

<b> MARS Image </b>

In [20]:
#Scraping the URL
browser.visit(mars_image)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

#Finding the latest News Title Header
featureImage = soup.find('article', attrs={'class':'carousel_item'})

featuredImageBuffer = featureImage.attrs['style']
featured_image_url  = "https://www.jpl.nasa.gov" + featuredImageBuffer[featuredImageBuffer.find('url') + 5: len(featuredImageBuffer) - 3]

<b> Twitter Details on temperature </b>

In [76]:
#This is to get the latest tweet
counter = 0

#Scraping the URL
browser.visit(twitter_details)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

#Finding all the tweets content
allTweetsContainter = soup.findAll('div', attrs={'class': 'js-tweet-text-container'})

#Iterating the tweets to get the temperature details
for allTweetsContainter in allLi:
    if("Sol" in allTweetsContainter.find('p').text and "pressure" in allTweetsContainter.find('p').text and "daylight" in allTweetsContainter.find('p').text and counter == 0):
        mars_weather = allTweetsContainter.find('p').text
        counter = counter + 1

In [77]:
mars_weather

'Sol 2162 (2018-09-05), high -5C/23F, low -69C/-92F, pressure at 8.85 hPa, daylight 05:37-17:53'

In [7]:
#This is to get the Mars Facts
counter = 0

#Scraping the URL
browser.visit(mars_facts)
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [23]:
##Finding all the facts
marsFacts = soup.findAll('table')[0]

In [26]:
import pandas as pd
new_table = pd.DataFrame(columns=range(0,8), index = [0])

In [27]:
new_table

     0    1    2    3    4    5    6    7
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

In [29]:
row_marker = 0
for row in marsFacts.find_all('tr'):
    column_marker = 0
    columns = row.find_all('td')
    for column in columns:
        new_table.iat[row_marker,column_marker] = column.get_text()
        column_marker += 1
    
new_table

              0                     1    2    3    4    5    6    7
0  Recorded By:  Egyptian astronomers  NaN  NaN  NaN  NaN  NaN  NaN

In [30]:
tables = pd.read_html(mars_facts)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 째C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [31]:
type(tables)

list

In [51]:
df = tables[0]

In [52]:
df = df.iloc[:]

In [53]:
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 째C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [60]:
for index, row in df.iterrows():
   print(row[0], row[1])
   print("-------")

Equatorial Diameter: 6,792 km
-------
Polar Diameter: 6,752 km
-------
Mass: 6.42 x 10^23 kg (10.7% Earth)
-------
Moons: 2 (Phobos & Deimos)
-------
Orbit Distance: 227,943,824 km (1.52 AU)
-------
Orbit Period: 687 days (1.9 years)
-------
Surface Temperature: -153 to 20 째C
-------
First Record: 2nd millennium BC
-------
Recorded By: Egyptian astronomers
-------